   <li class="nav-item"><a class="nav-link" href="/FarmerHome">Home</a> </li>
      <li class="nav-item"><a class="nav-link" href="/Chat">Chat</a> </li>
      <li class="nav-item"><a class="nav-link" href="/FSearchP">Pest</a> </li>
   <li class="nav-item"><a class="nav-link" href="/FCart">Cart</a> </li>
     <li class="nav-item"><a class="nav-link" href="/FReport">Report</a> </li>
   <li class="nav-item"><a class="nav-link" href="/Soil">Soil</a> </li>
   <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>